@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/CustomScript/YouTubeVideo.js"></script>

<div class="container">
    <div class="col-lg-12">
        <button id="btnRefresh" style="color:white;background-color:darkcyan">RefreshPlayList</button>
    </div>
    <div class="col-lg-12">

        <div>
            <main>
            </main>
        </div>
    </div>

</div>



