body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #eee;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.container {
    width: 560px;
    background-color: #fff;
    margin: 0 auto;
}

header,
section {
    position: fixed;
    text-align: center;
    width: 560px;
    background-color: #fff;
}

section {
    top: 50px;
}

.logo {
    width: 120px;
    padding: 10px;
}

main {
    padding: 370px 18px 10px;
}



.thumb {
    height: 70px;
    border-radius: 4px;
}

.details {
    padding: 8px 22px;
}
